section {
  transition:transform 0.2s ease-in-out;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.step {
  position: relative;
  min-height: 80px;
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:last-child {
  margin-left: 32px;
  padding-left: 16px;
}
.step.active .circle {
  background: var(--primary);
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  position: relative;
  color: white;
  text-align: center;
}
.step .circle {  
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid var(--primary);
  border-radius: 16px;
  position: relative;
  color: white;
  text-align: center;
}
.step.active .circle i{
  color: var(--white);
  font-size: 12px;
  transform: translate(0%, -12%);
}
.step .circle i{
  color: var(--primary);
  font-size: 12px;
  transform: translate(0%, -12%);
}
.line {
  position: absolute;
  border-left: 1px solid var(--primary);
  left: 16px;
  bottom: 5px;
  top: 37px;
}
.step:last-child .line {
  display: none;
}
.step.active .title {
  line-height: 32px;
  font-weight: 700;
}
.step .title {
  line-height: 32px;
  font-weight: 300;
}